.landingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

p {
    margin-bottom: 40px;
    width: 50%;
    text-align: center;
}