.dragDropContainer {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.item {
    padding: 10px;
    margin-bottom: 5px;
    background-color: white;
    width: 75%;
    border-radius: 4px;
    cursor: grab;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;
    margin-left: 50px;
    text-align: center;
    align-items: center;
    background-color: lightgray;
    border-radius: 10px;
    max-height: 85vh;
    overflow-y: auto;
    
}

.formDraftContainer {
    display: flex;
    margin-left: 40px; 
    padding-top: 20px; 
    max-height: 85vh; 
    background-color: gray;
    width: 65%;
    border-radius: 10px;
    justify-content: center;
    
}

.formDraft {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    padding: 20px; 
    overflow-x: auto;
    background-color: white;
}


.formDraftHeader {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.modal {
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5); 
  }
  
  .modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    max-width: 500px;
    width: 100%;
  }
  
  .close {
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 1200px;
    

  }

  .smallButton {
    height: 10%;
    width: 100px;
    margin: 10px;
    
  }

  
  

